header {
  background-color: var(--color-primary);
}
header > div {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-family: "Italiana", serif;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--color-gray-1);
}

.nav {
  display: flex;
  gap: 32px;
}

.nav__cart {
  background: none;
  color: var(--color-gray-1);
}
.nav__cart > span {
  font-size: 24px;
}

.nav__profile {
  background: var(--color-gray-5);
  color: var(--color-gray-1);
  border-radius: 50%;
  padding: 4px;
  display: flex;
}
.nav__profile > span {
  font-size: 32px;
}
