<section class="box__productDetails">
  <div class="container">
    <div *ngIf="productDetails">
      <img
        [src]="productDetails.img_url"
        alt="product image"
        class="product__image"
      />
      <div class="product__title">
        <p>Produto x</p>
        <p>$ 320</p>
      </div>
      <p class="product__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
        exercitationem ducimus sit animi, architecto, minima numquam quaerat
        repellendus nihil voluptas, officia cumque temporibus placeat adipisci
        ullam. Repellendus nam asperiores praesentium?
      </p>
      <button class="product__button">Adicionar ao carrinho</button>
    </div>
  </div>
</section>
