<section class="box__cart">
  <div class="container">
    <h2>Carrinho</h2>
    <ul>
      <li class="card__cart">
        <img src="../../../assets/macbook.jpg" alt="product image" />
        <p>Macbook Air</p>
        <p>R$ 320</p>
        <span>
          <button>+</button>
          <p>1</p>
          <button>-</button>
        </span>
        <button>
          <span class="material-symbols-outlined"> delete </span>
        </button>
      </li>
    </ul>
    <div class="card__total">
      <p>Total</p>
      <p>R$ 320</p>
      <button>Finalizar compra</button>
    </div>
  </div>
</section>
