<nav>
  <div class="box__searchProduct">
    <input
      type="text"
      placeholder="Digite o nome do produto..."
      [(ngModel)]="productName"
      name="productName"
      (keyup)="searchProduct()"
    />
    <button (click)="searchProduct()">
      <span class="material-symbols-outlined"> search </span>
    </button>
  </div>
</nav>
<ul *ngIf="productList.length; else loading">
  <a
    routerLink="product/{{ product.id }}"
    *ngFor="let product of filteredProducts"
    [id]="product.id"
    class="card__product"
  >
    <img [src]="product.img_url" alt="image of product" />
    <p>{{ product.name }}</p>
    <div>
      <p>{{ product.price | currency }}</p>
      <button>Comprar</button>
    </div>
  </a>
</ul>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

<span id="more"></span>
